.highlight {
    background: #fff; }
    .highlight .p {
      color: #000000; }
    .highlight .n {
      color: #3f6374; }
    .highlight .c {
      color: #008400; }
    .highlight .err {
      color: #a61717; }
    .highlight .k {
      color: #ba2da2; }
    .highlight .o { }
    .highlight .cm {
      color: #007400; }
    .highlight .cp {
      color: #78492a; }
    .highlight .c1 {
      color: #007400; }
    .highlight .cs {
      color: #007400; }
    .highlight .gd {
      color: #000; }
    .highlight .gd .x {
      color: #000; }
    .highlight .ge {
      font-style: italic; }
    .highlight .gr {
      color: #aa0000; }
    .highlight .gh {
      color: #999999; }
    .highlight .gi {
      color: #000; }
    .highlight .gi .x {
      color: #000; }
    .highlight .go {
      color: #888888; }
    .highlight .gp {
      color: #555555; }
    .highlight .gs { }
    .highlight .gu {
      color: #aaaaaa; }
    .highlight .gt {
      color: #aa0000; }
    .highlight .kc {
      color: #ba2da2; }
    .highlight .kd {
      color: #ba2da2; }
    .highlight .kp { }
    .highlight .kr {
      color: #881166; }
    .highlight .kt {
      color: #1c00cf; }
    .highlight .m {
      color: #009999; }
    .highlight .s {
      color: #d12f1b; }
    .highlight .na {
      color: teal; }
    .highlight .nb {
      color: #0086b3; }
    .highlight .nc {
      color: #228888; }
    .highlight .no {
      color: teal; }
    .highlight .ni {
      color: purple; }
    .highlight .ne {
      color: #990000; }
    .highlight .nf {
      color: #1122bb; }
    .highlight .nn {
      color: #555555; }
    .highlight .nt {
      color: black; }
    .highlight .nv {
      color: black; }
    .highlight .ow { }
    .highlight .w {
      color: #bbbbbb; }
    .highlight .mf {
      color: #272ad8; }
    .highlight .mh {
      color: #272ad8; }
    .highlight .mi {
      color: #272ad8; }
    .highlight .mo {
      color: #272ad8; }
    .highlight .sb {
      color: #d12f1b; }
    .highlight .sc {
      color: #d12f1b; }
    .highlight .sd {
      color: #d12f1b; }
    .highlight .s2 {
      color: #272ad8; }
    .highlight .se {
      color: #272ad8; }
    .highlight .sh {
      color: #272ad8; }
    .highlight .si {
      color: #272ad8; }
    .highlight .sx {
      color: #d12f1b; }
    .highlight .sr {
      color: #d12f1b; }
    .highlight .s1 {
      color: #d12f1b; }
    .highlight .ss {
      color: #d12f1b; }
    .highlight .bp {
      color: #4488cc; }
    .highlight .vc {
      color: teal; }
    .highlight .vg {
      color: teal; }
    .highlight .vi {
      color: teal; }
    .highlight .il {
      color: #272ad8; }
  
/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {color:rgba(0,0,0,0.3);padding: 0 10px;-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */